{% extends 'base.html' %}
{% load static sorl_thumbnail %}

{% block title %}{% block og_title %}El Blog de Python Tijuana{% endblock %}{% endblock %}

{% block navigation %}
{% include 'blog/blog_navbar.html' %}
{% endblock %}

{% block content %}
<section class="blog-welcome bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading blog-page-title">El Blog de Python Tijuana</h2>
        <h3 class="section-subheading text-muted blog-page-subtitle">La comunidad de pythonistas en Tijuana, México.</h3>
      </div>
    </div>
  </div>
</section>

<!-- blog posts -->
<section class="blog-posts">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for blog_post in blog_posts_list %}
        <article class="post-preview">
          <div class="row">
            {% if blog_post.hero_image %}
            <div class="hero-image col-3">
              <a href="{{ blog_post.get_absolute_url }}">
                {% thumbnail blog_post.hero_image "160x142" crop="center" as image %}
                  <img class="hero-image" src="{{ image.url }}">
                {% endthumbnail %}
              </a>
            </div>
            {% endif %}
            <div class="post-content {% if blog_post.hero_image %} col-md-9 col-s-12 {% else %} col-md-12 {% endif %}">
              <a href="{{ blog_post.get_absolute_url }}">
                <h2 class="post-title">
                  {{ blog_post.title }}
                </h2>
                <h3 class="post-subtitle">
                  {{ blog_post.content|striptags|truncatewords:35 }}
                </h3>
              </a>
              {% if blog_post.published %}
              <p class="date">Públicado en <time id="date" datetime="{{ blog_post.published_at|date:'Y-m-d' }}">{{ blog_post.published_at|date:'F d, Y' }}</time></p>
              {% endif %}
            </div>
          </div>
        </article>
        <hr/>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
