{% load static compress helper_tags %}

<!DOCTYPE html>
<html lang="es">

  <head>
    <title>{% block title %}Grupo de usuarios de Python de Tijuana{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block meta_tags %}
    <meta name="description" content="{% block description %}{% endblock %}">
    <meta property="og:site_name" content="Python Tijuana"/>
    <meta property="og:title" content="{% block og_title %}Grupo de usuarios de Python de Tijuana{% endblock %}"/>
    <meta property="og:description" content="{% block og_description %}{% endblock %}"/>
    <meta property="og:type" content="website"/>
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    {% compress css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link href="{% static 'css/agency.less' %}" rel="stylesheet" type="text/less">
    <link href="{% static 'css/pythontj.less' %}" rel="stylesheet" type="text/less">
    <link href="{% static 'css/blog.less' %}" rel="stylesheet" type="text/less">
    {% endcompress %}

  </head>

  <body id="page-top">
    {% block navigation %}{% endblock %}

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; 2018</span>
            <span class="comodo-ssl-icon"><img src="{% static 'img/comodo_secure_seal_76x26_transp.png' %}"></span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/PythonTijuana" target="_blank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/groups/pythontijuana/" target="_blank">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.meetup.com/es-ES/Python-Tijuana/" target="_blank">
                  <i class="fab fa-meetup"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    {% compress js %}
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>\

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/agency.min.js' %}"></script>
    {% endcompress %}

    {% if not debug %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={% google_analytics_id %}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{% google_analytics_id %}');
      </script>
    {% endif %}
  </body>
</html>
