{% extends 'base.html' %}
{% load static home_tags %}

{% block navigation %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a href="#page-top"><span class="logo"></span></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#welcome">Bienvenido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#events">Evento</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#group">Grupo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog' %}">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<!-- welcome -->
<section id="welcome">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Bienvenido</h2>
        <h3 class="section-subheading text-muted">La comunidad de pythonistas en Tijuana, México.</h3>
      </div>
    </div>
    <div class="row text-center">
    </div>
  </div>
</section>

<section class="bg-light" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Próximo evento</h2>
      </div>
    </div>
    <div class="row">
      {% next_event %}
    </div>
  </div>
</section>

<!-- Team -->
<section id="sponsors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Nuestros Patrocinadores</h2>
        <h3 class="section-subheading text-muted">Muchas gracias a nuestros patrocinadores por brindarnos un espacio y apoyo para nuestras reuniones mensuales.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{% static 'img/sponsors/fw-science.jpg' %}" alt="">
          <h4>Framework Science</h4>
          <p class="text-muted"></p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/FWScience" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/WeExploreTheUnknown/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.fwscience.com/" target="_blank">
                <i class="fas fa-globe-americas"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{% static 'img/sponsors/jelp-delivery.jpg' %}" alt="">
          <h4>Jelp Delivery</h4>
          <p class="text-muted"></p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/JelpDelivery" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fas fa-globe-americas"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="{% static 'img/sponsors/sonata-services.png' %}" alt="">
          <h4>Sonata Services</h4>
          <p class="text-muted"></p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/SonataSMX" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.facebook.com/sonataservicesmx/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" target="_blank">
                <i class="fas fa-globe-americas"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="group">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="facebook-group">
          <h2 class="section-heading text-uppercase">Facebook Group</h2>
          <h3 class="section-subheading text-muted">Únete a nuestro grupo de facebook.</h3>
          <a href="https://www.facebook.com/groups/pythontijuana/" target="_blank"><img class="fb-icon" src="{% static 'img/facebook-group-icon.png' %}" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
